<a href="https://colab.research.google.com/github/Sinudeshmukh/Data-Science/blob/main/HierarchicalClusteringAssgn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import scipy.cluster.hierarchy as sch
from sklearn.cluster import AgglomerativeClustering
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_excel("EastWestAirlines 1.xlsx")
df

       ID#  Balance  Qual_miles  ...  Flight_trans_12  Days_since_enroll  Award?
0        1    28143           0  ...                0               7000       0
1        2    19244           0  ...                0               6968       0
2        3    41354           0  ...                0               7034       0
3        4    14776           0  ...                0               6952       0
4        5    97752           0  ...                4               6935       1
...    ...      ...         ...  ...              ...                ...     ...
3994  4017    18476           0  ...                1               1403       1
3995  4018    64385           0  ...                0               1395       1
3996  4019    73597           0  ...                0               1402       1
3997  4020    54899           0  ...                1               1401       0
3998  4021     3016           0  ...                0               1398       0

[3999 rows x 12 columns]

In [ ]:
df = df.drop(['ID#'],axis=1)

In [ ]:
def myfun(i):
  x = (i-i.min())/(i.max()-i.min())
  return (x)

In [ ]:
df_norm = myfun(df)
df_norm.head(40)

     Balance  Qual_miles  cc1_miles  ...  Flight_trans_12  Days_since_enroll  Award?
0   0.016508    0.000000       0.00  ...         0.000000           0.843742     0.0
1   0.011288    0.000000       0.00  ...         0.000000           0.839884     0.0
2   0.024257    0.000000       0.00  ...         0.000000           0.847842     0.0
3   0.008667    0.000000       0.00  ...         0.000000           0.837955     0.0
4   0.057338    0.000000       0.75  ...         0.075472           0.835905     1.0
5   0.009631    0.000000       0.00  ...         0.000000           0.836749     0.0
6   0.049808    0.000000       0.50  ...         0.000000           0.843019     0.0
7   0.012233    0.000000       0.00  ...         0.018868           0.836267     1.0
8   0.259850    0.000000       0.50  ...         0.226415           0.837473     1.0
9   0.061507    0.000000       0.50  ...         0.056604           0.835423     1.0
10  0.023516    0.000000       0.25  ...         0.000000           0.838799     0.0
11  0.056617    0.000000       1.00  ...         0.000000           0.834579     1.0
12  0.025446    0.000000       0.25  ...         0.000000           0.834579     0.0
13  0.025279    0.000000       0.00  ...         0.000000           0.833856     0.0
14  0.010352    0.000000       0.00  ...         0.000000           0.833132     0.0
15  0.016714    0.000000       0.75  ...         0.000000           0.833132     1.0
16  0.030437    0.000000       0.75  ...         0.000000           0.832891     1.0
17  0.008187    0.000000       0.00  ...         0.000000           0.832288     1.0
18  0.053655    0.000000       0.50  ...         0.000000           0.832047     1.0
19  0.013699    0.000000       0.50  ...         0.000000           0.831203     1.0
20  0.070726    0.000000       1.00  ...         0.037736           0.831203     1.0
21  0.108914    0.181557       0.00  ...         0.169811           0.831203     1.0
22  0.012074    0.000000       0.00  ...         0.207547           0.829756     0.0
23  0.038875    0.000000       0.00  ...         0.018868           0.829756     0.0
24  0.120628    0.044851       0.00  ...         0.075472           0.956113     0.0
25  0.012157    0.000000       0.00  ...         0.000000           0.955148     0.0
26  0.010864    0.000000       0.00  ...         0.037736           0.954304     0.0
27  0.005178    0.000000       0.00  ...         0.000000           0.953943     0.0
28  0.035055    0.000000       0.50  ...         0.018868           0.953099     1.0
29  0.011274    0.000000       0.00  ...         0.018868           0.951772     1.0
30  0.104365    0.000000       0.50  ...         0.000000           0.950567     0.0
31  0.005878    0.000000       0.00  ...         0.000000           0.949723     0.0
32  0.162227    0.000000       0.75  ...         0.000000           0.948879     0.0
33  0.010586    0.000000       0.00  ...         0.000000           0.948396     0.0
34  0.025710    0.000000       0.00  ...         0.000000           0.948035     0.0
35  0.072593    0.000000       0.75  ...         0.094340           0.948035     1.0
36  0.013604    0.000000       0.00  ...         0.056604           0.947552     1.0
37  0.040277    0.000000       0.00  ...         0.037736           0.947552     0.0
38  0.035188    0.000000       0.50  ...         0.000000           0.946708     1.0
39  0.001276    0.000000       0.00  ...         0.000000           0.945864     1.0

[40 rows x 11 columns]

In [ ]:
dendrogram = sch.dendrogram(sch.linkage(df_norm,method="single"))

Error in callback <function flush_figures at 0x7f9311b66048> (for post_execute):

KeyboardInterrupt: ignored

In [ ]:
 hc = AgglomerativeClustering(n_clusters=4, affinity='euclidean', linkage='single')

In [ ]:
hc

AgglomerativeClustering(affinity='euclidean', compute_full_tree='auto',
                        connectivity=None, distance_threshold=None,
                        linkage='single', memory=None, n_clusters=4)

In [ ]:
y_hc = hc.fit_predict(df_norm)
Clusters = pd.DataFrame(y_hc,columns=['Clusters'])

In [ ]:
Clusters

      Clusters
0            1
1            1
2            1
3            1
4            0
...        ...
3994         0
3995         0
3996         0
3997         1
3998         1

[3999 rows x 1 columns]

In [ ]:
df['Clusters'] = Clusters

In [ ]:
df

      Balance  Qual_miles  cc1_miles  ...  Days_since_enroll  Award?  Clusters
0       28143           0          1  ...               7000       0         1
1       19244           0          1  ...               6968       0         1
2       41354           0          1  ...               7034       0         1
3       14776           0          1  ...               6952       0         1
4       97752           0          4  ...               6935       1         0
...       ...         ...        ...  ...                ...     ...       ...
3994    18476           0          1  ...               1403       1         0
3995    64385           0          1  ...               1395       1         0
3996    73597           0          3  ...               1402       1         0
3997    54899           0          1  ...               1401       0         1
3998     3016           0          1  ...               1398       0         1

[3999 rows x 12 columns]

In [ ]:
df[df['Bonus_miles']<5000]

      Balance  Qual_miles  cc1_miles  ...  Days_since_enroll  Award?  Clusters
0       28143           0          1  ...               7000       0         1
1       19244           0          1  ...               6968       0         1
2       41354           0          1  ...               7034       0         1
3       14776           0          1  ...               6952       0         1
5       16420           0          1  ...               6942       0         1
...       ...         ...        ...  ...                ...     ...       ...
3992    11181           0          1  ...               1407       0         1
3993     3974           0          1  ...               1397       0         1
3995    64385           0          1  ...               1395       1         0
3997    54899           0          1  ...               1401       0         1
3998     3016           0          1  ...               1398       0         1

[1739 rows x 12 columns]

In [ ]:
df[
   (5000< df[['Bonus_miles']] | df['Bonus_miles']< 10000)
]

ValueError: ignored