<a href="https://colab.research.google.com/github/Sinudeshmukh/Data-Science/blob/main/Logical_reg_assgn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
  import pandas as pd
from sklearn.linear_model import LogisticRegression

In [ ]:
df=pd.read_csv("bank-full.csv",sep=";")

In [ ]:
df.head()

   age           job  marital  education  ... pdays  previous poutcome   y
0   58    management  married   tertiary  ...    -1         0  unknown  no
1   44    technician   single  secondary  ...    -1         0  unknown  no
2   33  entrepreneur  married  secondary  ...    -1         0  unknown  no
3   47   blue-collar  married    unknown  ...    -1         0  unknown  no
4   33       unknown   single    unknown  ...    -1         0  unknown  no

[5 rows x 17 columns]

In [ ]:
df_1= df.drop(['month','day'],axis=1)

In [ ]:
df_1=pd.get_dummies(data=df_1, columns=['job','marital','education',"default",'housing','loan','contact','poutcome','y'])

In [ ]:
df_1

       age  balance  duration  ...  poutcome_unknown  y_no  y_yes
0       58     2143       261  ...                 1     1      0
1       44       29       151  ...                 1     1      0
2       33        2        76  ...                 1     1      0
3       47     1506        92  ...                 1     1      0
4       33        1       198  ...                 1     1      0
...    ...      ...       ...  ...               ...   ...    ...
45206   51      825       977  ...                 1     0      1
45207   71     1729       456  ...                 1     0      1
45208   72     5715      1127  ...                 0     0      1
45209   57      668       508  ...                 1     1      0
45210   37     2971       361  ...                 0     1      0

[45211 rows x 40 columns]

In [ ]:
df_1=df_1.drop(['y_no'],axis=1)

In [ ]:
df_1= df_1.rename({'y_yes':'Subscribed'},axis=1)

In [ ]:
df_1.corr()

                          age   balance  ...  poutcome_unknown  Subscribed
age                  1.000000  0.097783  ...         -0.000816    0.025155
balance              0.097783  1.000000  ...         -0.030271    0.052838
duration            -0.004648  0.021560  ...         -0.003491    0.394521
campaign             0.004760 -0.014578  ...          0.107965   -0.073172
pdays               -0.023758  0.003435  ...         -0.869962    0.103621
previous             0.001288  0.016674  ...         -0.532763    0.093236
job_admin.          -0.055717 -0.026726  ...         -0.025940    0.005637
job_blue-collar     -0.044002 -0.048757  ...          0.022194   -0.072083
job_entrepreneur     0.021792  0.009642  ...          0.014901   -0.019662
job_housemaid        0.086650  0.001661  ...          0.026059   -0.015195
job_management      -0.023571  0.067797  ...         -0.013755    0.032919
job_retired          0.447378  0.046900  ...         -0.019368    0.079245
job_self-employed   -0.008093  0.017850  ...          0.002246    0.000855
job_services        -0.065780 -0.038151  ...          0.010347   -0.027864
job_student         -0.197302  0.001233  ...         -0.045715    0.076897
job_technician      -0.068632 -0.016183  ...          0.006986   -0.008970
job_unemployed       0.000412  0.009023  ...          0.008497    0.020390
job_unknown          0.050200  0.010784  ...          0.014083    0.000267
marital_divorced     0.164674 -0.021732  ...          0.003478    0.002772
marital_married      0.286257  0.025708  ...          0.026338   -0.060260
marital_single      -0.427817 -0.012537  ...         -0.031089    0.063526
education_primary    0.196182 -0.015451  ...          0.036803   -0.040393
education_secondary -0.093979 -0.069937  ...         -0.001847   -0.036388
education_tertiary  -0.081629  0.084001  ...         -0.028937    0.066448
education_unknown    0.069665  0.011181  ...          0.004600    0.012053
default_no           0.017879  0.066745  ...         -0.039490    0.022419
default_yes         -0.017879 -0.066745  ...          0.039490   -0.022419
housing_no           0.185513  0.068768  ...          0.063755    0.139173
housing_yes         -0.185513 -0.068768  ...         -0.063755   -0.139173
loan_no              0.015655  0.084350  ...         -0.031406    0.068185
loan_yes            -0.015655 -0.084350  ...          0.031406   -0.068185
contact_cellular    -0.068375  0.015880  ...         -0.264426    0.135873
contact_telephone    0.170349  0.037999  ...         -0.023487    0.014042
contact_unknown     -0.020132 -0.037331  ...          0.291657   -0.150935
poutcome_failure    -0.004927  0.011857  ...         -0.737932    0.009885
poutcome_other      -0.022967  0.008466  ...         -0.435903    0.031955
poutcome_success     0.035526  0.035240  ...         -0.393525    0.306788
poutcome_unknown    -0.000816 -0.030271  ...          1.000000   -0.167051
Subscribed           0.025155  0.052838  ...         -0.167051    1.000000

[39 rows x 39 columns]

In [ ]:
df_1.shape

(45211, 39)

In [ ]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 39 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  45211 non-null  int64
 1   balance              45211 non-null  int64
 2   duration             45211 non-null  int64
 3   campaign             45211 non-null  int64
 4   pdays                45211 non-null  int64
 5   previous             45211 non-null  int64
 6   job_admin.           45211 non-null  uint8
 7   job_blue-collar      45211 non-null  uint8
 8   job_entrepreneur     45211 non-null  uint8
 9   job_housemaid        45211 non-null  uint8
 10  job_management       45211 non-null  uint8
 11  job_retired          45211 non-null  uint8
 12  job_self-employed    45211 non-null  uint8
 13  job_services         45211 non-null  uint8
 14  job_student          45211 non-null  uint8
 15  job_technician       45211 non-null  uint8
 16  job_unemployed       45211 non-null  uint8
 17  job_unknown          45211 non-null  uint8
 18  marital_divorced     45211 non-null  uint8
 19  marital_married      45211 non-null  uint8
 20  marital_single       45211 non-null  uint8
 21  education_primary    45211 non-null  uint8
 22  education_secondary  45211 non-null  uint8
 23  education_tertiary   45211 non-null  uint8
 24  education_unknown    45211 non-null  uint8
 25  default_no           45211 non-null  uint8
 26  default_yes          45211 non-null  uint8
 27  housing_no           45211 non-null  uint8
 28  housing_yes          45211 non-null  uint8
 29  loan_no              45211 non-null  uint8
 30  loan_yes             45211 non-null  uint8
 31  contact_cellular     45211 non-null  uint8
 32  contact_telephone    45211 non-null  uint8
 33  contact_unknown      45211 non-null  uint8
 34  poutcome_failure     45211 non-null  uint8
 35  poutcome_other       45211 non-null  uint8
 36  poutcome_success     45211 non-null  uint8
 37  poutcome_unknown     45211 non-null  uint8
 38  Subscribed           45211 non-null  uint8
dtypes: int64(6), uint8(33)
memory usage: 3.5 MB

In [ ]:
X = df_1.iloc[:,0:38]
Y = df_1.iloc[:,38]

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
classifier = LogisticRegression()
classifier.fit(X,Y)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
y_pred = classifier.predict_proba(X)

In [ ]:
y_pred

array([[0.95187056, 0.04812944],
       [0.97119434, 0.02880566],
       [0.97384801, 0.02615199],
       ...,
       [0.31254962, 0.68745038],
       [0.8912927 , 0.1087073 ],
       [0.82931521, 0.17068479]])

In [ ]:
y_pred = classifier.predict(X)

In [ ]:
y_pred

array([0, 0, 0, ..., 1, 0, 0], dtype=uint8)

In [ ]:
Y_Predicted = pd.DataFrame({'actual':Y,
                            'Predicted':y_pred})

In [ ]:
Y_Predicted

       actual  Predicted
0           0          0
1           0          0
2           0          0
3           0          0
4           0          0
...       ...        ...
45206       1          1
45207       1          0
45208       1          1
45209       0          0
45210       0          0

[45211 rows x 2 columns]

In [ ]:
from sklearn.metrics import confusion_matrix
confusion_matrix=confusion_matrix(Y,y_pred)
confusion_matrix

array([[39255,   667],
       [ 4252,  1037]])

In [ ]:
((39255+1037)/(39255+667+4252+1037))*100

89.11990444803256

In [ ]:
#classification report
from sklearn.metrics import classification_report
print(classification_report(Y,y_pred))

              precision    recall  f1-score   support

           0       0.90      0.98      0.94     39922
           1       0.61      0.20      0.30      5289

    accuracy                           0.89     45211
   macro avg       0.76      0.59      0.62     45211
weighted avg       0.87      0.89      0.87     45211